<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/index.css">
    {{$title:= default .Site.Title .Page.Title}}
    {{with $title}}<title>{{.}}</title>{{end}}
    {{with .Page.Description}}<meta name="description" content="{{.}}" />{{end}}
  </head>
  <body>
    <section>
      <main>
        <img src="./image/logo.svg" width="60px">
        {{with $title}}<h1 class="intro">{{.}}</h1>{{end}}
        {{with .Param "subtitle"}}<h2>{{. | humanize | markdownify}}</h2>{{end}}
        {{.Content}}
        <nav>
          <ul>
          {{ range $.Site.Menus.main }}
            <li><a href="{{.URL}}">{{.Name | humanize}}</a></li>
          {{end}}
          </ul>
        </nav>
      </main>
    </section>
    <footer>
      <nav>
        <ul>
        {{ range $.Site.Menus.footer }}
          <li><a href="{{.URL}}">{{.Name | humanize}}</a></li>
        {{ end }}
        </ul>
      </nav>
      <br>
      {{.Param "copyright" | markdownify}}
    </footer>
  </body>
</html>
